@page "/"

@code {
    private Task ClickAsync()
    {
        return Task.CompletedTask;
    }
}

<PageTitle>Home</PageTitle>

<div @onclick="ClickAsync">dfrgdfgfsdgsdfgsdfg</div>

<h1>Hello, world!</h1>

Welcome to your new app.